body{
margin:0;
font-family:Arial;
}

#controls{
width:300px;
padding:20px;
}

input{
display:block;
margin-bottom:10px;
}

button{
padding:10px;
margin-top:10px;
}

#viewer{
width:100vw;
height:100vh;
}

#downloadBtn{
position:absolute;
top:20px;
right:20px;
padding:10px 20px;
z-index:10;
}